@model Domain.Models.Result

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<h2> Your code has been tested and the result details are below </h2>

@{
    Html.RenderPartial("~/Views/Submission/_ResultDetails.cshtml", Model);
}

<hr/>