<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <authentication mode="Windows"/>
  </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpointBinding">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/CodeExecutionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
                contract="CodeExecutionService.ICodeExecutionService" name="BasicHttpEndpointBinding" />
        </client>
    </system.serviceModel>
</configuration>