<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICodeExecutionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/CodeExecutionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeExecutionService"
                contract="CodeExecutionService.ICodeExecutionService" name="BasicHttpBinding_ICodeExecutionService" />
        </client>
    </system.serviceModel>
</configuration>