@model Domain.Models.Result

<div id="ResultTable">
    <table>
        <tbody>
            <tr>
                <td>Problem name</td>
                <td>Foo</td>
            </tr>
            <tr>
                <td>Language used</td>
                <td>C#</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>CorrectAnswer</td>
            </tr>
        </tbody>
    </table>
</div>