<div class="row">
	<div class="span4">
			<a href="#" class="btn"><i class="icon-user"></i> About us</a>
	</div>
	<div class="span4">
		<a href="#" class="btn btn-success"><i class="icon-star icon-white"></i> Career opportunities</a>
	</div>
	<div class="span4">
		<a href="#" class="btn btn-info">Contact Us</a>
	</div>
</div>